-# ここから左のchat-side部分
.wrapper

  =  render  'shared/side_bar'
  
  -# ここから右のchat-main部分

  .chat-main
    .main-header
      .main-header__left-box
        .main-header__left-box__group-name test-group
        .main-header__left-box__member member: test-user

        =link_to 'Edit','#',class:'main-header__edit-bottun' 


    .chat-box
      .chat-box__boxa
        .chat-box__boxa__user-name test-user
        .chat-box__boxa__time 2019/00/00 00:00:00
      .chat-box__user-comment こんにちは！

      .chat-box__boxa
        .chat-box__boxa__user-name タケ
        .chat-box__boxa__time 2020/00/00 20:20:20
      .chat-box__user-comment テスト

    .comment-box
      %form.comment-box__inputbox 
        <input type="text" class="comment-box__inputbox__text-box"name="○○" value="type a message">
        %label.comment-box__inputbox__image-bottun{for: "b1" } <input type="file" id="b1" class="icon" ><i class="far fa-image size"></i></input>

        =link_to 'Send','#',id:'send-bottun'







