// chat画面side大枠
.chat-side{
  background-color: #2f3e51;
  color           : $white   ;
  width           :300px     ;
  height          :100vh     ;
  display         :block     ;
  float           :left      ;
  overflow        :auto      ;
// chat画面side user設定 新規グループ作成ゾーン
  &__header{
    background-color: #253141;
    height          :100px     ;
    width           :300px     ;
    padding         :20px      ;
    box-sizing      :border-box;
    border-top      :1         ;
    position:relative;
    &__box{
      display    :inline-block ;
      list-style : none ;
      overflow   :hidden;
      line-height:50px  ;
      &__name {
        display:inline-block;
        position   :center  ;
        font-weight:bold    ;
        font-size  :16px    ;
        margin     :auto,0  ;
      }
      &__menu{
        display   :inline-block;
        text-align: center     ;
        position  : absolute   ;
        right     :20px        ;
        top       :35px        ;
        &__list {
          display:inline-block;
          font-size   :16px        ;
          font-weight :bold        ;
          border      : $white     ;

          
  }
  }

    }
  }
// chat画面side グループ一覧ゾーン
.groups{
  background-color: #2f3e51;
  height          : 600px    ;
  width           : 300px    ;
  color           :$white   ;
  font-weight     : bold     ;
  box-sizing      :border-box;
  padding         :20px      ;
  &__box{
    display      :block;
    height       :100px;
    margin-bottom:40px ;
    line-height  :200% ;
    font-size    :11px ;
     
    &__name{
      font-size    :15px       ;
      color        :$white   ;

    &__comment {
      margin:5,0,40;
  }
  }
  }
}
}
